@charset "utf-8";
.ded-list{
    padding-top: 10px;
    padding-bottom: 10px;
    .ded-item{
        margin-top: 10px;
        .ded-t,.ded-b{
            display: flex;
            display: -webkit-flex;
            align-items: center;
            padding: 0 15px;
            span:nth-of-type(2){
                margin: auto 0 auto auto;
            }
            .refund{
                color: #009999;
            }
        }
        .ded-t{
            font-size: 14px;
            color: #444444;
        }
        .ded-b{
            font-size: 12px;
            color: #777777;
            margin-top: 5px;
        }
    }
    .ded-item:nth-of-type{
        margin-top: 0;
    }
}

