html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,img {
    margin: 0;
    padding: 0
}
html,body{
    font-family:"微软雅黑";
    font-size: 16px;
    font-size: 62.5%;
    /*font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;*/
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, button, dl, dt, dd, input, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    word-wrap: break-word;
    word-break: break-all;
    padding: 0;
    margin: 0;
}
img {
    display: block
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
}
button{
	-webkit-tap-highlight-color:transparent;
}

ul,ol {
    list-style: none
}
input {
    border: none;
    padding-top: 0;
    padding-bottom: 0;

}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
select,input {
    vertical-align: middle
}
select,input,textarea {
    margin: 0
}
input[type="text"],input[type="password"],textarea {
    outline-style: none;
    -webkit-appearance: none
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
textarea {
    resize: none
}
table {
    border-collapse: collapse
}
em ,i{
    font-style: normal;
}